# This is a basic workflow to help you get started with Actions

name: startZTProxy

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '* */6 * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: ssh vps
        env:
          SERVERPUSHKEY: ${{secrets.SERVERPUSHKEY}}
          ZEROTIERKEY: ${{secrets.ZEROTIERKEY}}
          ZEROTIER_NETWORK_ID: ${{secrets.ZEROTIER_NETWORKID}}
          ZEROTIER_MOON_ID: ${{secrets.ZEROTIER_MOONID}}
        run: ./tmate2actions.sh
        shell: bash

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
